Build
Build.bat
/build/
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
.vs/*
/src/TAGS
/.vscode/
build-linux/*
deps/build*
deps/build-linux/*
**/.DS_Store
**/.idea/
.pkg_cache
CMakeUserPresets.json
data/layer_captures/*
data/calibration_captures/*
pygcode_viewer/camera_calib/corners_visualized_*
pygcode_viewer/outputs/batch/*
render_matcher/render_matcher.egg-info/*
pygcode_viewer/outputs/comparison_ZN41_Z8.4.jpg
pygcode_viewer/outputs/overlay_ZN41_Z8.4.jpg
